.header{
    background-color: #23242e;
    height: 80px;
    width: 100%;
    padding:20px;
    position: fixed;
    
    .logo {
        width: 40px;
        height: 40px;
    }

    .text_logo {
        line-height: 40px;
        margin-left: 12px;
    }

    .header_left {
        display: flex;
        justify-content: center;
        float:left;
    }

    .header_right {
        display: flex;
        float:right;

        .user {
            display: flex;
            justify-content: center;
            align-items: center;

            &__image {
                margin-left: 1rem;
                width: 40px;
                height: 40px;
                border-radius: 20px;
                background-color: var(--brand-color);
                color: var(--text-main-color);
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .btn {
            padding-left: 20px;

            &#auth .MuiButton-root {
                background-color: #323442;
            }
            
            &#reg .MuiButton-root {
                background-color: #6080FF;
            }
        }
    }
}
