.header {
    background: var(--surface-color);
    height: 64px;
    width: 100%;
    padding: var(--default-padding) 1.25rem;
    box-shadow: 0px 2px 8px 0px #00000040;
    position: fixed;
    z-index: 1;

    .header_left {
        display: flex;
        justify-content: center;
        float: left;

        &-logo {
            display: flex;
            justify-content: center;

            .logo {
                width: 2rem;
                height: 2rem;
            }

            .text_logo {
                font-size: 1.75rem;
                line-height: 2rem;
                margin-left: 0.5rem;
            }
        }
    }

    .header_right {
        display: flex;
        float: right;

        .user {
            display: flex;
            justify-content: center;
            align-items: center;
            user-select: none;
            cursor: pointer;

            &__name {
                font-size: 1.35rem;
            }

            &__image {
                margin-left: 1rem;
                width: 2rem;
                height: 2rem;
                border-radius: 1rem;
                background-color: var(--brand-color);
                color: var(--text-main-color);
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .btn {
            padding-left: 20px;

            &#auth .MuiButton-root {
                background-color: #323442;
            }

            &#reg .MuiButton-root {
                background-color: #6080ff;
            }
        }
    }
}

.User__modal {
    width: 120px;
    display: block;
    background: var(--second-surface-color);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, .55);
    padding: .25rem;      
    overflow: hidden;
    animation: contextFade .25s cubic-bezier(.28,0,.26,1.25);
    transform-origin: top center;

    .modal__row {
        display: flex;
        width: 100%;
        align-items: flex-end;
        justify-content: flex-end;
        user-select: none;
        cursor: pointer;
        transition: all .1s;
        background: transparent;
        padding: .35rem .5rem;
        padding-right: 1rem;
        border-radius: var(--border-radius);

        &-icon {
            width: 1.25rem;
            height: 1.25rem;
        }

        &-title {
            line-height: 1.05rem;
            font-size: .9rem;
            margin-right: calc($secondary-margin / 1.5);
            color: var(--light-primary-color);
        }

        &:hover {
            filter: brightness(1.1);
            background: var(--third-surface-color);
        }

        &.logout .modal__row-title {
            color: red;
        }
    }

    @keyframes contextFade {
        from { transform: scale(.75); opacity: 0; }
        to { transform: scale(1); opacity: 1; }
    }
}
