
.input-group {
  width: 360px;
  position: relative;
  border: 3px solid var(--border);
  border-radius: 8px;
  margin: 12px;

  --body: #ffffff;
  // --text: #363636;
  --text: #bbb;
  --text-light: #898989;
  --primary: #6080FF;
  --border: #bbbbbb;
  --padding: 16px 24px;
  --line-height: 24px;

  input {
    padding: var(--padding);
    border: none;
    background-color: transparent;
    width: 100%;
    color: var(--text);
    font-size: 16px;
    line-height: var(--line-height);

  }
  &:hover,
  &:focus-within {
    border-color: var(--primary);
  }

  input:focus,
  &:hover input {
    color: var(--primary);
  }
}
